In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('ua.csv')
# print(df_bill)

In [6]:
df.head(5)

,2018-06-08 19:51:58,b'RT @Atlantisbluedt: TWITTER AIRDROP Happening Now!\n\nUP to a 25% bonus during Airdrop. \nMore details on Telegram pinned post: \nhttps://t.co/\xe2\x80\xa6'
0,2018-06-08 19:51:54,b'RT @Atlantisbluedt: TWITTER AIRDROP Happenin...
1,2018-06-08 19:51:54,b'RT @Payther_HQ: PAYTHER biggest Airdrop! \xf...
2,2018-06-08 19:51:53,b'RT @RandolphMlny: #Bitcoin #Satoshi #Earn_Mo...
3,2018-06-08 19:51:46,b'RT @Atlantisbluedt: TWITTER AIRDROP Happenin...
4,2018-06-08 19:51:45,b'RT @GGlobal_Project: \xe2\x80\xbc\xef\xb8\x8...

In [10]:
for tweet in df:
    print(tweet)

2018-06-08 19:51:58
b'RT @Atlantisbluedt: TWITTER AIRDROP Happening Now!\n\nUP to a 25% bonus during Airdrop. \nMore details on Telegram pinned post: \nhttps://t.co/\xe2\x80\xa6'